In [2]:
import pandas as pd
df= pd.read_excel('C:\\mean median mode.xlsx')

In [3]:
df1=df[['age','salary_2018','totalW_working_years','percent_hike']]

In [4]:
df1.cov()

,age,salary_2018,totalW_working_years,percent_hike
age,83.455049,2.955225e+05,48.361684,0.121489
salary_2018,295522.515203,4.228236e+09,390642.907508,4118.884438
totalW_working_years,48.361684,3.906429e+05,60.540563,-0.586872
percent_hike,0.121489,4.118884e+03,-0.586872,13.395144