In [1]:
import pandas as pd
df= pd.read_excel('C:\\mean median mode.xlsx')

In [6]:
pd.crosstab(df.department,df.gender)

gender                  Female  Male
department
Human Resources             20    43
Research & Development     379   582
Sales                      189   257