In [64]:
import pandas as pd
df= pd.read_excel('C:\\missing data.xlsx')

In [65]:
df.isna().sum()

e_code                      0
status                      0
hire_date                   0
service_agreement           0
job_level                   0
performance_rating_2018     0
performance_rating_2017     0
year_of_birth               0
gender                      0
distance_from_home          0
manager_changes             0
no_of_promotions            0
risk_of_attrition          14
potential_rating            0
bonus                       0
no_courses_taken            0
time_in_position            0
awards                      0
signon                      0
manager_sat                 0
employee_sat               21
salary_2017                 0
salary_2018                 0
dtype: int64

In [66]:
df.isna().sum()/df.count()*100

e_code                     0.000000
status                     0.000000
hire_date                  0.000000
service_agreement          0.000000
job_level                  0.000000
performance_rating_2018    0.000000
performance_rating_2017    0.000000
year_of_birth              0.000000
gender                     0.000000
distance_from_home         0.000000
manager_changes            0.000000
no_of_promotions           0.000000
risk_of_attrition          2.083333
potential_rating           0.000000
bonus                      0.000000
no_courses_taken           0.000000
time_in_position           0.000000
awards                     0.000000
signon                     0.000000
manager_sat                0.000000
employee_sat               3.157895
salary_2017                0.000000
salary_2018                0.000000
dtype: float64

In [67]:
df1=df.dropna()

In [68]:
df1.isna().sum()

e_code                     0
status                     0
hire_date                  0
service_agreement          0
job_level                  0
performance_rating_2018    0
performance_rating_2017    0
year_of_birth              0
gender                     0
distance_from_home         0
manager_changes            0
no_of_promotions           0
risk_of_attrition          0
potential_rating           0
bonus                      0
no_courses_taken           0
time_in_position           0
awards                     0
signon                     0
manager_sat                0
employee_sat               0
salary_2017                0
salary_2018                0
dtype: int64

In [69]:
df1=df['employee_sat']
df1=df1.fillna(0)
df1

0      80.0
1      84.0
2      93.0
3      83.0
4      80.0
5      81.0
6       0.0
7       0.0
8      71.0
9      87.0
10     80.0
11     80.0
12     74.0
13     81.0
14      0.0
15     80.0
16     80.0
17     74.0
18     73.0
19     96.0
20     82.0
21      0.0
22     80.0
23     97.0
24     80.0
25     80.0
26      0.0
27     80.0
28      0.0
29     80.0
       ...
656    80.0
657    80.0
658    80.0
659    80.0
660    80.0
661    84.0
662    80.0
663    83.0
664    80.0
665    80.0
666    86.0
667    78.0
668    80.0
669    80.0
670    80.0
671    80.0
672    80.0
673    80.0
674    80.0
675    80.0
676    80.0
677    80.0
678    80.0
679    80.0
680    80.0
681    80.0
682    80.0
683    80.0
684    80.0
685    80.0
Name: employee_sat, Length: 686, dtype: float64

In [70]:
df1.isna().sum()

0

In [71]:
df1=df['employee_sat']
df1=df1.fillna(df1.mean())
df1

0      80.000000
1      84.000000
2      93.000000
3      83.000000
4      80.000000
5      81.000000
6      81.178947
7      81.178947
8      71.000000
9      87.000000
10     80.000000
11     80.000000
12     74.000000
13     81.000000
14     81.178947
15     80.000000
16     80.000000
17     74.000000
18     73.000000
19     96.000000
20     82.000000
21     81.178947
22     80.000000
23     97.000000
24     80.000000
25     80.000000
26     81.178947
27     80.000000
28     81.178947
29     80.000000
         ...
656    80.000000
657    80.000000
658    80.000000
659    80.000000
660    80.000000
661    84.000000
662    80.000000
663    83.000000
664    80.000000
665    80.000000
666    86.000000
667    78.000000
668    80.000000
669    80.000000
670    80.000000
671    80.000000
672    80.000000
673    80.000000
674    80.000000
675    80.000000
676    80.000000
677    80.000000
678    80.000000
679    80.000000
680    80.000000
681    80.000000
682    80.000000
683    80.000000
684    80.000000
685    80.000000
Name: employee_sat, Length: 686, dtype: float64

In [72]:
df1.isna().sum()

0

In [73]:
df1=df['employee_sat']
df1=df1.fillna(df1.median())
df1

0      80.0
1      84.0
2      93.0
3      83.0
4      80.0
5      81.0
6      80.0
7      80.0
8      71.0
9      87.0
10     80.0
11     80.0
12     74.0
13     81.0
14     80.0
15     80.0
16     80.0
17     74.0
18     73.0
19     96.0
20     82.0
21     80.0
22     80.0
23     97.0
24     80.0
25     80.0
26     80.0
27     80.0
28     80.0
29     80.0
       ...
656    80.0
657    80.0
658    80.0
659    80.0
660    80.0
661    84.0
662    80.0
663    83.0
664    80.0
665    80.0
666    86.0
667    78.0
668    80.0
669    80.0
670    80.0
671    80.0
672    80.0
673    80.0
674    80.0
675    80.0
676    80.0
677    80.0
678    80.0
679    80.0
680    80.0
681    80.0
682    80.0
683    80.0
684    80.0
685    80.0
Name: employee_sat, Length: 686, dtype: float64

In [74]:
df1.isna().sum()

0

In [75]:
df1=df['employee_sat']
df1.value_counts()

80.0     403
74.0      16
85.0      14
86.0      13
87.0      13
83.0      13
76.0      13
73.0      12
81.0      12
78.0      12
89.0      12
88.0      11
92.0      11
77.0      11
82.0      11
91.0       9
90.0       9
79.0       8
72.0       8
75.0       7
84.0       7
71.0       6
93.0       6
70.0       6
94.0       6
100.0      4
95.0       4
96.0       3
97.0       3
98.0       2
Name: employee_sat, dtype: int64

In [76]:
df1=df1.fillna(80)

In [77]:
df1.isna().sum()

0

In [79]:
df1=df
df1['risk_of_attrition'].value_counts()

LOW          642
MEDIUM        19
VERY HIGH      8
HIGH           3
Name: risk_of_attrition, dtype: int64

In [84]:
df2=df1['risk_of_attrition'].fillna("LOW")

In [85]:
df2.isna().sum()

0